
body
{
    
    background-image: url("../assets/culture_bg.jpg");    
    background-size: cover;
    backdrop-filter: blur(10px);
}



#hej
{
    background-color: white;
    position: absolute;
    height: 2000px;
    width: 1600px;
    left: 8%;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    border: rgb(121, 54, 23) solid 4px;
}

#culture
{
    font-size: 130px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: 700;
}

#cintro
{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 550px; 
    width: 800px;
    height: 200px;
    text-align: center;
}

#food
{
    width: 60%;
}

#burrito
{
    position: absolute;
    left: 1070px;
    top: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#sports
{
    width: 60%;
}

#football
{
    position: absolute;
    left: 1070px;
    top: 760px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#social
{
    width: 60%;
}

#family
{
    position: absolute;
    left: 1070px;
    top: 1350px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
}

.knappar
{
    height: 50px;
    width: 100px;
    float: left;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    font-weight: 900;
    padding: 5px;
    position: absolute;
}

#h
{
    left: 15px;
}

#s
{
    left: 130px;
}

#t
{
    left: 245px;
}

.knappar:hover
{
    background-color: rgb(151, 151, 151);
}